*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.db-journal
*.test
*.good
*.bak
*.old
*.pickle
.*
plex.conf.disabled
!/.gitignore
home-assistant.log
home-assistant_v2.db
secrets.yaml
known_devices.yaml
mysensors_devices.json
mysensors_devices.tmp.json
ip_bans.yaml
ios.conf
/icloud
/lib
/deps
/ssl
/backups
/disabled
/www
emulated_hue_ids.json
entity_registry.yaml
__pycache__
