*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.db-journal
*.test
*.good
*.bak
*.old
.*
!/.gitignore
suit.jpg
home-assistant.log
home-assistant_v2.db
secrets.yaml
known_devices.yaml
mysensors_devices.json
ip_bans.yaml
/icloud
/lib
/deps
/ssl
/backups
